body {
    font-family: Arial, sans-serif;
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  }
  
  .container {
    max-width: 70%;
    margin: auto;
    padding: 50px;
    background-color: #ffffff36; 
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 70vh;
  }
  .form{
    width: 60%;
    margin: auto;
    background-color: #000000;
    padding: 2rem 4rem;
    border-radius: 50px 25px;
  }
  
  h2 {
    color: white;
    text-align: center;
    font-size: 4rem;
    text-shadow: 2px 2px 8px #000000;
  }
  .email,
  .password{
    color:white;
  }

  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4CAF50;
    color: #fff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
